mixin addMenuLink(i)
   a(href=i.src, data-text=i.title)= i.title  

mixin addServiceBox(i)
   .box 
      img(src=i.src, alt="")
      h3 i.title 
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, fugit?
      a.btn(href="") loren more

mixin addPortPolioBox(i)
   .box 
      span=i.seq 
      img(src=i.src, alt="")
      .content 
         h3=i.title 
         p=i.date 

//- 
mixin addPricingBox(i)
   .box 
      h3= i.title 
      img(src=i.src, alt="")
      .price 
         span $ 
         =i.price  
         span /mo 
      ul 
         each list in i.lists    
            li= list 
      a.btn(href="#") choose plan 

mixin addReviewBox(i)
   .box 
      .user 
         img(src=i.src, alt="")
         .info 
            h3= i.name 
            +stars({full:4, half:1})
      i.fas.fa-quote-right 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione sapiente magnam deserunt iure in quam assumenda tempora distinctio nobis pariatur? Et temporibus pariatur dolores fuga natus molestias praesentium exercitationem necessitatibus!
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi maxime quia consequuntur odit culpa provident sint, at sit modi numquam!


mixin stars(i)
   .stars 
      i.fas.fa-star 
      i.fas.fa-star 
      i.fas.fa-star 
      i.fas.fa-star 
      i.fas.fa-star-half-alt

   

